<h1>Sortable Bootstrap Tables in Rails (drag &amp; drop reordering)</h1>
<h5>
  <%= link_to 'http://benw.me/posts/sortable-bootstrap-tables/', 'http://benw.me/posts/sortable-bootstrap-tables/' %>
</h5>
<div class="panel panel-default">
  <table class="table table-bordered table-striped" id="sortable">
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Description
        </th>
      </tr>
    </thead>
    <tbody>
      <% @things.each do |thing| %>
        <tr data-item-id=<%= "#{thing.id}" %> class="item">
          <td>
            <%= thing.title %>
          </td>
          <td>
            <%= link_to 'show', thing_path(thing), :class => 'btn btn-default pull-right' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
