<h1></h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= @thing.title %>
  </div>
  <div class="panel-body">
    <%= @thing.description %>
  </div>
</div>
<%= link_to 'Back', things_path %>
